.articleContent{
    padding: 20px;
    color:black;
    background-color: lightgray;
    border:thin solid gray;
    border-radius: 10px ;

}
.commentDiv{
    margin-top:1em;
}
.comment{
    font-size:0.8em;

}
.commentTime{
    font-size:0.6em;
    color: lightgray;
}