<!-- Footer Start -->
  <div class="col-md-12 page-body margin-top-50 footer">
      <footer>
          <ul class="menu-link">
              <li><a  href="{% url 'main:main'%}">首頁</a></li>
              <li><a  href="{% url 'main:about' %}">關於</a></li>
              <li><a  href="{% url 'article:article'%}">部落格</a></li>
              {% if user.is_authenticated %}
                  <li><a  href="{% url 'account:logout' %}">登出</a></li>
              {% else %}
                  <li><a  href="{% url 'account:register' %}">註冊</a></li>
                  <li><a  href="{% url 'account:login' %}">登入</a></li>
              {% endif %}
          </ul>

{#          <p>© Copyright 2016 DevBlog. All rights reserved</p>#}


          <!-- UiPasta Credit Start -->
          <div class="uipasta-credit">Design By <a href="http://www.uipasta.com" target="_blank">UiPasta</a></div>
          <!-- UiPasta Credit End -->


      </footer>
  </div>
<!-- Footer End -->