
html,body{

    /*margin:20px 50px 10px 50px ;*/
    height: 100%;
}
body{
    padding: 20px;
    color: black;
    background-color: white;
    /*background: url(../img/777.jpg)fixed ;*/

}

/*| Navigation |*/

/*nav{*/
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*background: #fff;*/
  /*box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);*/
  /*border: 1px solid rgba(0,0,0,.1);*/
/*}*/
/*nav ul{*/
    /*list-style: none;*/
    /*position: relative;*/
    /*float: right;*/
    /*margin-right: 100px;*/
    /*display: inline-table;*/
/*}*/
/*nav ul li{*/
      /*float: left;*/
      /*-webkit-transition: all .2s ease-in-out;*/
      /*-moz-transition: all .2s ease-in-out;*/
      /*transition: all .2s ease-in-out;*/
/*}*/

/*nav ul li:hover{background: rgba(0,0,0,.15);}*/
/*nav ul li:hover > ul{display: block;}*/
/*nav ul li{*/
      /*float: left;*/
      /*-webkit-transition: all .2s ease-in-out;*/
      /*-moz-transition: all .2s ease-in-out;*/
      /*transition: all .2s ease-in-out;*/
/*}*/
/*nav ul li a{*/
        /*display: block;*/
        /*padding: 30px 20px;*/
        /*color: #222;*/
        /*font-size: .9em;*/
        /*letter-spacing: 1px;*/
        /*text-decoration: none;*/
        /*text-transform: uppercase;*/
/*}*/
/*nav ul ul{*/
        /*display: none;*/
        /*background: #fff;*/
        /*position: absolute;*/
        /*top: 100%;*/
        /*box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);*/
        /*border: 1px solid rgba(0,0,0,.1);*/
/*}*/
/*nav ul ul li{float: none; position: relative;}*/
/*nav ul ul li a {*/
            /*padding: 15px 30px;*/
            /*border-bottom: 1px solid rgba(0,0,0,.05);*/
/*}*/
/*nav ul ul ul {*/
            /*position: absolute;*/
            /*left: 100%;*/
            /*top:0;*/
/*}*/





nav{
  /*position: fixed;*/
  /*margin: auto;*/
  /*width: 100%;*/
  /*background: #fff;*/
  /*box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);*/
  border: 1px solid rgba(0,0,0,0);
}

.nav:link , .nav:visited{
     background-color: darkred;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.navAH:active, .navAH:hover{
    background-color: red;
}
.titleWord:link, .titleWord:visited{
    color:black;
    text-decoration: none;
}
ul#menu{
    margin-bottom:25px;
    text-align: right;
}
ul#menu li{
    display: inline-block;
}

.btna {
    /*font-family: Arial;*/
    display:inline-block;
    color: black;
    font-size: 0.8em;
    padding: 0.5em 1em;
    text-decoration: none;
    border:thin solid gray;
    border-radius: 10px;
    background:linear-gradient(#f7f7f7, #dedede);

}

/* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
  color: black;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}
/* Misc */
.inlineBlock {
  display: inline-block;
}



