html,body{

    margin:15px ;
    height: 100%;
}
body{
    padding: 20px;
    color: black;
    background-color: white;
    /*background: url(../img/777.jpg)fixed ;*/

}
.nav:link , .nav:visited{
     background-color: darkred;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}
.navAH:active, .navAH:hover{
    background-color: red;
}
.titleWord:link, .titleWord:visited{
    color:black;
    text-decoration: none;
}
ul#menu{
    margin-bottom:25px;
    text-align: right;
}
ul#menu li{
    display: inline-block;
}

.btn{
    /*font-family: Arial;*/
    display:inline-block;
    color: black;
    font-size: 0.8em;
    padding: 0.5em 1em;
    text-decoration: none;
    border:thin solid gray;
    border-radius: 10px;
    background:linear-gradient(#f7f7f7, #dedede);

}

/* Messages */
.success, .error {
  padding: 1em 0 1em 3em;
  color: black;
}

.success {
  background-color: #ddffdd;
  border: thin solid green;
}

.error {
  background-color: #fbd9d8;
  border: thin solid red;
}
/* Misc */
.inlineBlock {
  display: inline-block;
}